
/* DISP MOVIL */

@media only screen and (max-width: 600px){

.none{
    display: none;
}

.menu{
    display: inline;
}
.logo{
    margin-left: 30px;
}   

.ul-nav{
    flex-direction: column;
}   

.ul-nav a{
    font-size: 10px;
    } 

.nav-pages_black{
    background-color: rgba(0,0,0,1);
    height: 285px;
    color:rgba(199, 194, 194, 1);
    padding-bottom: 20px;
}

.submenu{
    font-size: 10px;
    width: 65px;
}
    
.boton-nav{
    height: 20px;
    width: 70px;
    font-size: 10px;
    margin-right:0px;
    }

.div-logo-grande{
    width: fit-content;
    margin:0 auto;
    margin-top: 90px;
}    
.logo-grande{
    width: 330px;
    height: 216px;
    margin:0 auto;
}

.div-index-card{
    margin:0 auto;
    justify-content: center;
    margin-top:-100px;
}

.index-card{
    width: 300px;  
    margin-bottom: 30px; 
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
}

.img-index-card{
    width: 300px;
}

.titulo-index-card{
    font-size: 25px;
}

.index-card:hover{
    transform: scale(1);
}

.titulo-general-card{
    margin-left: 50px;
}
/* .div-general-card{
    width: 300px;
    height: 465px;
}

.img-general-card{
    width: 300px;
    height: 322px;
}

.texto-general-card{
    font-size: 16px;
    width: 250px;
}

.precio-card{
    font-size: 16px;
    margin-top: 5px;
} */

    
}

/* MOVIL HORIZONTAL Y TABLET */

@media (min-width: 601px) and (max-width: 1000px){


.nav-pages_black{
    background-color: rgba(0,0,0,1);
    height: 285px;
    color:rgba(199, 194, 194, 1);
    padding-bottom: 20px;
}

.submenu{
    width: 80px;
    font-size: 10px;
}

.none{
    display: none;
}
    
.menu{
    display: inline;
}

.logo{
    margin-left: 30px;
}

.ul-nav{
    flex-direction: column;
}   
    
.ul-nav a{
    font-size: 10px;
} 
        
.boton-nav{
    height: 20px;
    width: 70px;
    font-size: 10px;
    margin-right:0px;
}
    
.div-logo-grande{
    width: fit-content;
    margin:0 auto;
    margin-top: 60px;
}    

.logo-grande{
    width: 200px;
    height: 144px;
    margin:0 auto;
}

.div-index-card{
    margin:0 auto;
    justify-content: center;
    margin-top:-100px;
}

.index-card{
    width: 300px;  
    margin-bottom: 30px; 
    margin-left: 30px;
}

.img-index-card{
    width: 300px;
}

.icons{
    width: 95vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    position:fixed;
    top: 260px;
}
}
