*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


a{
    text-decoration: none;
}
body{
    background-color: #ffffff;
    height: 1000vh;
}

/* NAVBAR */

.hero{
    background-image: url(./imagenes/hero.png);
    height: 720px;
    width: 100vw;
}

.hero-dark{
    background: rgba(0, 0, 0, 0.8);
    height: 720px;
    width: 100vw;
}

nav{
    /* border: 1px solid red; */
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.logo{
    margin-left: 75px;
    width: 50px;
    height: 42px;
    margin-top: 17px;
}

.ul-nav{
    /* border: 1px solid red; */
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 15px;
    
}

.ul-nav a{
    text-decoration: none;
    color:rgba(199, 194, 194, 1);
    font-weight: 700;
    line-height: 19.36px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
}


.boton-nav{
    background-color: rgba(224, 2, 9, 1);
    height: 40px;
    width: 140px;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 19.36px;
    font-size: 16px;
    margin-right: 10px;
    color:rgba(199, 194, 194, 1);
}

/* FIN NAVBAR */

/* LOGO GRANDE */

.div-logo-grande{
    width: 500px;
}

.logo-grande{
    margin-top: 100px;
    width: 400px;
    height: 288px;
    margin-left: 50px;
}

/* FIN LOGO GRANDE */

/* ICONS */
.icons{
    /* border:1px solid red; */
    width: 95vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:space-between;
    margin-bottom: 200px;
    position: fixed;
}

.icons img{
    width: 20px;
    height: 20px;
}

/* FIN ICONS */

/*INDEX CARDS */

.div-index-card{
    /* border:1px solid red; */
    margin:0 auto;
    margin-top: -80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 90%;
}

.index-card{
    width: 360px;   
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
}

.img-index-card{
    width: 360px;
}

.titulo-index-card{
    font-weight: 700;
    font-size: 32px;
    line-height: 37.5px;
    color: rgba(0, 0, 0, 1);
    margin-left: 26px;
    margin-top: 15px;
}

.texto-index-card{
    margin-left: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    color: rgba(0, 0, 0, 1);
}

.ver-mas{
    /* border:1px solid red; */
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    color: rgba(224, 2, 9, 1);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.36px;
    margin-right: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ver-mas p{
    margin-right: 8px;
}
/* FIN INDEX CARDS */
