*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


/* NAVBAR */

.hero{
    background-image: url(./imagenes/hero.png);
    height: 720px;
    width: 100%;
}

.hero-dark{
    background: rgba(0, 0, 0, 0.8);
    height: 720px;
    width: 100%;
}

.logo{
    margin-left: 75px;
    width: 50px;
    height: 42px;
    margin-top: 17px;
}

nav{
    /* border: 1px solid red; */
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.ul-nav{
    /* border: 1px solid red; */
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 15px;
    
}

.ul-nav a{
    text-decoration: none;
    color:rgba(199, 194, 194, 1);
    font-weight: 700;
    line-height: 19.36px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
}


.boton-nav{
    background-color: rgba(224, 2, 9, 1);
    height: 40px;
    width: 140px;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 19.36px;
    font-size: 16px;
    color:rgba(199, 194, 194, 1);
}

/* FIN NAVBAR */

/* LOGO GRANDE */

.div-logo-grande{
    /* border:1px solid red; */
    height: 446px;
}
.logo-grande{
    margin-top: 100px;
    width: 400px;
    height: 288px;
    margin-left: 50px;
}

/* FIN LOGO GRANDE */

/* ICONS */
.icons{
    /* border:1px solid red; */
    width: 20px;
    margin-left: 1150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content:space-between;
    margin-bottom: 200px;
    position: fixed;
}

.icons img{
    width: 20px;
    height: 20px;
}

/* FIN ICONS */
